#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addCarButon{
    background: #E84B30;
    font-size: 18;
}

#searchCarButon{
      
    background: #45CCFF;
    font-size: 18;
}

.btn{
    width: 300px;
    height: 100px;
    margin: 10px 0 0 0;
    border-radius: 5px;
}

#list{
    margin: 20px 0 0 0;
    border-style: solid;
    border-color: #FFD432;
    border-width: 5px;
    color: red;
}